[Unit]
Description=PostgreSQL container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a postgres
ExecStop=/usr/bin/docker stop -t 5 postgres

[Install]
WantedBy=multi-user.target
